<%- include header.html %>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<div class='uk-container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" 
			   id='navicon' data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='javascript:createCrossFilter()'></a>
		</li>
		
		<% if (user === dashboard.user) { %>
		<li>
			<a href="" class="uk-icon-button uk-icon-plus"
				onclick='javascript:createChart({})'></a>
		</li>
		
		<li>
			<a href="" class="uk-icon-button uk-icon-save"
				onclick='javascript:saveLayout()'></a>
		</li>
		<li>
			<a href="#settings" class="uk-icon-button uk-icon-gears"
				data-uk-modal></a>
		</li>
		<% } %>
	</ul>
</div>

<style>
body {
	overflow: hidden;
	background: white;
}

.chart {
	position: absolute;
	min-width: 240px;
	min-height: 120px;
	top: 72px;
	left: 24px;
	background: white;
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	resize: both;
	overflow: hidden;
}

.chart:hover {
	width: 24px;
	height: 24px;
}

.chart:hover .handle {
	background: #f7f7f7;
}

.handle {
	width:100%; 
	background: none;
	height:24px;
	display:block;
	margin: 0;
	padding: 2px 4px;
	transition: background 0.2s ease-in;
}
</style>

<script type="text/html" id="chart-template">
<div class='chart' id='chart_id'>
	<span class='handle'>
		<span class='title'></span>
		<i class="uk-icon-gears" onclick='javascript:chartSettings(_id)'></i>
		<i class="uk-icon-minus" onclick='javascript:chartMinimize(_id)'></i>
	</span>
</div>
</script>


<div id="chart-settings" class="uk-modal" data-chart-id="0">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>
		
	</div>
</div>

<script>
var _grid_size = 24;

function chartSettings(k) {
	$('#chart-setting').prop('data-chart-id', k);
	var modal = $.UIkit.modal("#chart-settings");
	modal.show();
}

function chartMinimize(k) {
	$('#chart' + k).outerWidth('240px');
	$('#chart' + k).outerHeight('120px');
}

function closeSettings() {
	var modal = $.UIkit.modal("#settings");
	modal.hide();
}

function saveSettings() {
	var checked = $('#settings [name=public]').is(':checked');
	var data = {
		dashboard: dashboard,
		public: checked ? 1 : 0
	};
	$.post('/dashboard-save', data, function(result) {
		// console.log(result);
		closeSettings();
	});
}

$(document).ready(function() {
	main();
});

$('body').on('mouseup', function() {
	snapAll();
});

function main() {
	<% for (var i = 0; i < charts.length; i++) { %>
		createChart({ 
			id:		<%= charts[i].id %>,
			name:	'<%= charts[i].name %>',
			x:		<%= charts[i].x %>,
			y:		<%= charts[i].y %>,
			width:	<%= charts[i].width %>,
			height:	<%= charts[i].height %>,
		});
	<% } %>

	snapAll();
	createCrossFilter();
}

var dashboard_ = '<%= dashboard.id %>';
var dashboard = dashboard_ === '' ? 0 : parseInt(dashboard_);
var charts = new Array();

function createChart(data) {	
	var html = $('#chart-template').html();
	var count = charts.length;
	html = html.replace(/_id/g, count);
	$('body').append(html);
	
	var chart = $('#chart' + count);
	chart.drags({handle: '.handle'});
	if (data.x) chart.css('left', data.x + 'px');
	if (data.y) chart.css('top',  data.y + 'px');
	if (data.width)  chart.outerWidth(data.width + 'px');
	if (data.height) chart.outerHeight(data.height + 'px');
	chart.find(".title").text(data.name);
	
   	if (data.id == null)
		data.id = 0;
	charts.push(data);

}

function resizeChart() {
	for (var i = 0; i < charts.length; i++) {
		var chart = $('#chart' + i);
		chart.outerWidth( charts[i].width);
		chart.outerHeight(charts[i].height);
		chart.css('min-width',  '240px');
		chart.css('min-height', '120px');
		chart.prop('resize', 'both');
	}
}

function saveLayout() {
	for (var i = 0; i < charts.length; i++) {
		var chart = $('#chart' + i);
		var x = chart.position().left;
		var y = chart.position().top;
		var w = chart.outerWidth();
		var h = chart.outerHeight();
		
		var data = {id: charts[i].id, dashboard: dashboard, 
			name: "Hello",
			x:x, y:y, width:w, height:h};
		$.post('/chart-save', data, function(result) {
			console.log(result);
		});
	}
}

function snapAll() {
	$('.chart').each(function() {
		var x = $(this).position().left;
		var y = $(this).position().top;
		var w = $(this).outerWidth();
		var h = $(this).outerHeight();
		x = snap(x);
		y = snap(y);
		w = snap(w);
		h = snap(h);
		$(this).css('left', x + 'px');
		$(this).css('top',  y + 'px');
		$(this).outerWidth(w + 'px');
		$(this).outerHeight(h + 'px');
	});
}

function snap(x) {
	x = parseInt(x);
	grid = parseInt(_grid_size);
	
	if (x % grid === 0) {
	}
	if (x % grid > grid / 2) {
		x = (parseInt(x / grid) + 1) * grid;
	}
	else {
		x = parseInt(x / grid) * grid;
	}
	
	if (x % _grid_size !== 0)
		console.log('error ' + x);
	return x;
}

function createCrossFilter() {
	var width	= $(window).width();
	var height	= $(window).height();
	var square	= width < height ? width : height;
	var keys = new Array();

	d3.csv("/data/<%= dashboard.id %>", function(data) {
		for (var k in data[0]) {
			keys.push(k);
		}

		var w = $('#chart0').width();
		var h = $('#chart0').height();
		square = w < h ? w : h;

		var xf = crossfilter(data);
		var dimension = new Array();
		var group = new Array();

		dimension[0]	= xf.dimension(dc.pluck(keys[0]));
		group[0]		= dimension[0].group().reduceSum(dc.pluck(keys[1]));

		var transitionDuration = 1000;

		var c1 = dc.pieChart("#chart0")
			.width(square - _grid_size).height(square - _grid_size)
			.dimension(dimension[0])
			.group(group[0])
	// 		.innerRadius(square / 10)
			.transitionDuration(transitionDuration)
			;

		dimension[1]	= xf.dimension(dc.pluck(keys[2]));
		group[1]		= dimension[1].group().reduceSum(dc.pluck(keys[1]));

		var c2 = dc.rowChart('#chart1')
			.width(square).height(square - _grid_size)
			.dimension(dimension[1])
			.group(group[1])
			.transitionDuration(transitionDuration)
			;

		dc.renderAll();
	});

}

(function($) {
	$.fn.drags = function(opt) {

		// opt = $.extend({handle:"",cursor:"move"}, opt);

		if(opt.handle === "") {
			var $el = this;
		} else {
			var $el = this.find(opt.handle);
		}

		return $el.css('cursor', opt.cursor).on("mousedown", function(e) {
			$(this).css('cursor', 'move');
			if(opt.handle === "") {
				var $drag = $(this).addClass('draggable');
			} else {
				var $drag = $(this).addClass('active-handle').parent().
									addClass('draggable');
			}
			var z_idx = $drag.css('z-index'),
				drg_h = $drag.outerHeight(),
				drg_w = $drag.outerWidth(),
				pos_y = $drag.offset().top + drg_h - e.pageY,
				pos_x = $drag.offset().left + drg_w - e.pageX;
			$drag.css('z-index', 1000).parents().on("mousemove", function(e) {
				$('.draggable').offset({
					top:e.pageY + pos_y - drg_h,
					left:e.pageX + pos_x - drg_w
				}).on("mouseup", function() {
					$(this).removeClass('draggable').css('z-index', z_idx);
				});
			});
			e.preventDefault(); // disable selection
		}).on("mouseup", function() {
			$(this).css('cursor', 'default');
			if(opt.handle === "") {
				$(this).removeClass('draggable');
			} else {
				$(this).removeClass('active-handle').parent().
						removeClass('draggable');
			}
		});
	};
})(jQuery);

</script>


<div id="settings" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>
		
		<form class='uk-form' action='javascript:saveSettings()'>
			<input type='checkbox' name='public' 
				   <%= dashboard.public ? 'checked' : '' %> />
			<label>Public</label>
			
			<hr/>
			<input type='submit' value='Save'
				   class='uk-button uk-button-primary' />
			<input type='button' value='Cancel'
				   class='uk-button' onclick='javascript:closeSettings()' />
		</form>
	</div>
</div>

<%- include drawer.html %>
<%- include footer.html %>
