<%- include header.html %>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>
<script src="/js/absolute.js"></script>

<div class='uk-container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" 
			   id='navicon' data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='javascript:createCrossFilter()'></a>
		</li>
		
		<% if (user === dashboard.user) { %>
		<li>
			<a href="" class="uk-icon-button uk-icon-plus"
				onclick='javascript:createChart({})'></a>
		</li>
		
		<li>
			<a href="" class="uk-icon-button uk-icon-save"
				onclick='javascript:saveLayout()'></a>
		</li>
		<li>
			<a href="#settings" class="uk-icon-button uk-icon-gears"
				data-uk-modal></a>
		</li>
		<% } %>
	</ul>
</div>

<style>
body {
	overflow: hidden;
	background: white;
}

.chart {
	position: absolute;
	min-width: 240px;
	min-height: 120px;
	top: 72px;
	left: 24px;
	background: white;
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	resize: both;
	overflow: hidden;
}

.chart:hover {
	width: 24px;
	height: 24px;
}

.chart:hover .handle {
	background: #f7f7f7;
}

.handle {
	width:100%; 
	background: none;
	height: 24px;
	display:block;
	margin: 0;
	padding: 2px 4px;
	transition: background 0.2s ease-in;
}
.chart .button {
	float: right;
}
.chart .button i:hover {
	color: dodgerblue;
}
</style>

<script type="text/html" id="chart-template">
<div class='chart' id='chart_id'>
	<span class='handle'>
		<span class='title'></span>
		<span class='button'>
		<i class="uk-icon-gears" onclick='javascript:chartSettings(_id)'></i>
		<i class="uk-icon-minus" onclick='javascript:chartMinimize(_id)'></i>
		<i class="uk-icon-trash-o" onclick='javascript:chartDelete(_id)'></i>
		</span>
	</span>
</div>
</script>


<div id="chart-settings" class="uk-modal" data-chart-id="0">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>
		<form class="uk-form" action="javascript:chartSave()">
			<input type="hidden" name="id" value="0" />
			<div class="uk-grid uk-grid-preserve">
				
				<div class="uk-width-1-3">
					Name
				</div>
				<div class="uk-width-2-3">
					<input class="uk-width-1-1" type="text" name="name" 
						   autofocus />
				</div>
				
				<div class="uk-width-1-3">
					Chart Type
				</div>
				<div class="uk-width-2-3">
					<select class="uk-width-1-1" name="type">
						<option value="pie">Pie</option>
						<option value="row">Row</option>
					</select>
				</div>
				
				<div class="uk-width-1-3">
					Dimension
				</div>
				<div class="uk-width-2-3">
					<input class="uk-width-1-1" type="text" name="dimension" />
				</div>
				
				<div class="uk-width-1-3">
					Group
				</div>
				<div class="uk-width-2-3">
					<input class="uk-width-1-1" type="text" name="group" />
				</div>
				
				<div class="uk-width-1-3"></div>
				<div class="uk-width-2-3">
					<input type="submit" value="Save" 
					   class="uk-button uk-button-primary" />
				</div>
			</div>
			
		</form>
	</div>
</div>

<script>

var dashboard_ = '<%= dashboard.id %>';
var dashboard = dashboard_ === '' ? 0 : parseInt(dashboard_);
var charts = new Array();

function chartSettings(k) {
	$('#chart-settings').prop('data-chart-id', k);
	$('#chart-settings [name=id]'       ).val(k);
	$('#chart-settings [name=name]'     ).val(charts[k].name);
	$('#chart-settings [name=type]'     ).val(charts[k].type);
	$('#chart-settings [name=dimension]').val(charts[k].dimension);
	$('#chart-settings [name=group]'    ).val(charts[k].group);
	var modal = $.UIkit.modal("#chart-settings");
	modal.show();
}

function chartSave() {
	var id               = $('#chart-settings [name=id]'       ).val();
	charts[id].name      = $('#chart-settings [name=name]'     ).val();
	charts[id].type      = $('#chart-settings [name=type]'     ).val();
	charts[id].dimension = $('#chart-settings [name=dimension]').val();
	charts[id].group     = $('#chart-settings [name=group]'    ).val();
	$('#chart' + id + ' .title').text(charts[id].name);
	var modal = $.UIkit.modal("#chart-settings");
	modal.hide();
}

function chartMinimize(k) {
	$('#chart' + k).outerWidth('240px');
	$('#chart' + k).outerHeight('120px');
}

function chartDelete(k) {
	charts[k].deleted = true;
	$('#chart' + k).fadeOut();
}

function closeSettings() {
	var modal = $.UIkit.modal("#settings");
	modal.hide();
}

function saveSettings() {
	var checked = $('#settings [name=public]').is(':checked');
	var data = {
		dashboard: dashboard,
		name: $('#settings [name=name]').val(),
		public: checked ? 1 : 0
	};
	$.post('/dashboard-save', data, function(result) {
		// console.log(result);
		closeSettings();
	});
}

$(document).ready(function() {
	main();
});

function main() {
	<% for (var i = 0; i < charts.length; i++) { %>
		createChart({ 
			id:		<%= charts[i].id %>,
			name:		'<%= charts[i].name %>',
			type:		'<%= charts[i].type %>',
			dimension:	'<%= charts[i].dimension %>',
			group:		'<%= charts[i].reduce %>',
			x:		<%= charts[i].x %>,
			y:		<%= charts[i].y %>,
			width:	<%= charts[i].width %>,
			height:	<%= charts[i].height %>
		});
	<% } %>

	createCrossFilter();
}

function createChart(data) {
   	if (data.id == null) {
		data.id = 0;
		data.name = 'New Chart';
		data.type = 'pie';
		data.dimension = '';
		data.group = '';
	}
	
	var html = $('#chart-template').html();
	var count = charts.length;
	html = html.replace(/_id/g, count);
	$('body').append(html);
	
	var chart = $('#chart' + count);
	chart.drags({handle: '.handle'});
	if (data.x) chart.css('left', data.x + 'px');
	if (data.y) chart.css('top',  data.y + 'px');
	if (data.width)  chart.outerWidth(data.width + 'px');
	if (data.height) chart.outerHeight(data.height + 'px');
	chart.find(".title").text(data.name);
	
	charts.push(data);
}

function saveLayout() {
	var count = 0;
	for (var i = 0; i < charts.length; i++) {
		if (charts[i].deleted) {
			var data = { id: charts[i].id, dashboard: dashboard };
			$.post('/chart-delete', data, function(result) {
				// console.log(result);
				count++;
				if (count === charts.length) {
					location.reload();
				}
			});
		}
		else {
			var chart = $('#chart' + i);
			var x = chart.position().left;
			var y = chart.position().top;
			var w = chart.outerWidth();
			var h = chart.outerHeight();

			var data = {
				dashboard: dashboard,
				id:        charts[i].id, 
				name:      charts[i].name,
				type:      charts[i].type,
				dimension: charts[i].dimension,
				group:     charts[i].group,
				x:x, y:y, width:w, height:h};
			$.post('/chart-save', data, function(result) {
				// console.log(result);
				count++;
				if (count === charts.length) {
					location.reload();
				}
			});
		}
	}
}

$('body').on('mouseup', function() {
	snapAll();
});

function snapAll() {
	$('.chart').each(function() {
		var x = $(this).position().left;
		var y = $(this).position().top;
		var w = $(this).outerWidth();
		var h = $(this).outerHeight();
		x = snap(x);
		y = snap(y);
		w = snap(w);
		h = snap(h);
		$(this).css('left', x + 'px');
		$(this).css('top',  y + 'px');
		$(this).outerWidth(w + 'px');
		$(this).outerHeight(h + 'px');
	});
}

function createCrossFilter() {
	var width	= $(window).width();
	var height	= $(window).height();
	var square	= width < height ? width : height;
	var keys = new Array();

	d3.csv("/data/<%= dashboard.id %>", function(data) {
		for (var k in data[0]) {
			keys.push(k);
		}

		var w = $('#chart0').width();
		var h = $('#chart0').height();
		square = w < h ? w : h;

		var xf = crossfilter(data);
		var dimension = new Array();
		var group = new Array();

		dimension[0]	= xf.dimension(dc.pluck(keys[0]));
		group[0]		= dimension[0].group().reduceSum(dc.pluck(keys[1]));

		var transitionDuration = 1000;

		var c1 = dc.pieChart("#chart0")
			.width(square - _grid_size).height(square - _grid_size)
			.dimension(dimension[0])
			.group(group[0])
	// 		.innerRadius(square / 10)
			.transitionDuration(transitionDuration)
			;

		dimension[1]	= xf.dimension(dc.pluck(keys[2]));
		group[1]		= dimension[1].group().reduceSum(dc.pluck(keys[1]));

		var c2 = dc.rowChart('#chart1')
			.width(square).height(square - _grid_size)
			.dimension(dimension[1])
			.group(group[1])
			.transitionDuration(transitionDuration)
			;

		dc.renderAll();
	});

}

</script>


<div id="settings" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>
		
		<form class='uk-form' action='javascript:saveSettings()'>
			<div class='uk-grid uk-grid-preserve'>
				<div class='uk-width-3-10'>
					<label>Name</label>
				</div>
				<div class='uk-width-7-10'>
					<input type='text' name='name' class='uk-width-1-1'
					   value='<%= dashboard.name %>' />
				</div>
				<div class='uk-width-3-10'>
					<label>Public</label>
				</div>
				<div class='uk-width-7-10'>
					<input type='checkbox' name='public' 
					   <%= dashboard.public ? 'checked' : '' %> />	
				</div>
				
				<div class='uk-width-1-1'>&nbsp;</div>
				
				<div class='uk-width-1-1'>
					<input type='submit' value='Save'
					   class='uk-button uk-button-primary' />
					<input type='button' value='Cancel'
					   class='uk-button' onclick='javascript:closeSettings()' />
					<input type='hidden' />
				</div>
			</div>
		</form>
	</div>
</div>

<%- include drawer.html %>
<%- include footer.html %>
