<div id="chart-settings" class="uk-modal" data-chart-id="0">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>
		<form class="uk-form" action="javascript:chartSettingsSave()">
			<input type="hidden" name="id" value="0" />
			<div class="uk-grid uk-grid-preserve">

				<div class="uk-width-1-3">
					Name
				</div>
				<div class="uk-width-2-3">
					<input class="uk-width-1-1" type="text" name="name"
						autofocus />
				</div>

				<div class="uk-width-1-3">
					Chart Type
				</div>
				<div class="uk-width-2-3">
					<select class="uk-width-1-1" name="type">
						<option value="none">None</option>
						<option value="row">Row</option>
						<option value="pie">Pie</option>
						<option value="donut">Donut</option>
						<option value="bar">Bar</option>
						<option value="line">Line</option>
						<option value="wordcloud">Word Cloud</option>
						<!--
						<option value="bubble">Bubble</option>
						-->
					</select>
				</div>

				<div class="uk-width-1-3">
					Dimension
				</div>
				<div class="uk-width-2-3">
					<!--
					<input class="uk-width-1-1" type="text" name="dimension" />
					-->
					<select class="uk-width-1-1" name="dimension"></select>
				</div>

				<div class="uk-width-1-3">
					Group
				</div>
				<div class="uk-width-2-3">
					<!--
					<input class="uk-width-1-1" type="text" name="group" />
					-->
					<select class="uk-width-1-1" name="group"></select>
				</div>

				<div class="uk-width-1-3">
					Sort
				</div>
				<div class="uk-width-2-3">
					<select class="uk-width-1-1" name="sort"
						onchange='sortChange()'>
						<option value="none">None</option>
						<option value="asc">Ascending A-Z</option>
						<option value="desc">Descending Z-A</option>
					</select>
				</div>

				<div class="uk-width-1-3">
					Filter
				</div>
				<div class="uk-width-2-3">
					<select class="uk-width-4-10" name="top"
						onchange="topChange()">
						<option value="none">None</option>
						<option value="top">Top</option>
						<option value="bottom">Bottom</option>
					</select>
					<input class="uk-width-5-10" type="text" name="top-value"
						style="display:none; float:right; " />
					<input type="hidden" />
				</div>

				<div class="uk-width-1-3">
					Maximize
				</div>
				<div class="uk-width-2-3">
					<input type="checkbox"
						name="maximize-width" id="maximize-width" />
					<label for="maximize-width">Width</label>
					&nbsp;&nbsp;&nbsp;
					<input type="checkbox"
						name="maximize-height" id="maximize-height" />
					<label for="maximize-height">Height</label>
				</div>
			</div>
			<hr/>
			<div class="uk-grid uk-grid-preserve">
				<div class="uk-width-1-1 modal-button">
					<input type="submit" value="Save"
						class="uk-button uk-button-primary" />
					<input type="button" value="Delete"
						onclick="javascript:chartDeleteThis()"
						class="uk-button uk-button-danger" />
				</div>
			</div>
		</form>
	</div>
</div>
