<%- include header.html %>

<script>
var url = "http://query.yahooapis.com/v1/public/yql";
var symbol = "aapl,msft,goog,ibm,orcl,fb,amzn,ebay,pcln,aol,yhoo,lnkd,twtr"
	+ ",intc,znga,grpn,yndx,adbe,bidu,king,nflx,renn,zen"
	+ ",adsk,symc,vmw,rht,ea,intu,fisv,ctxs,csco,ncr,dbd,hpq"
	+ ",amd,sndk,wdc,stx,nvda,txn,irdm"
	+ ",xlnx,altr,mchp,atml,cy,mscc,lscc"
	+ ",ba,gm,f,hog,cpb,ko,pep,jnj,pg,pfe"
	+ ",xom,ge,cvx,wmt,t,c,wfc,jpm,bac,pm";

var data = encodeURIComponent("select * from yahoo.finance.quotes where " +
	" symbol in ('" + symbol + "') " +
	// " and startDate='2014-06-01' and endDate='2014-06-30'" +
	"");
url = url + '?q=' + data + "&format=json&diagnostics=false"
		+ "&env=http://datatables.org/alltables.env"
		+ "&callback="
		;

$.get(url, function(response) {
	// console.log(response.query.results.quote);
	var data = response.query.results.quote;
	var columns = ["Symbol", "StockExchange", "Name", "MarketCapitalization",
	 "EBITDA" /*, "Volume"*/];

	var line = "";
	for (var j = 0; j < columns.length; j++) {
		line += columns[j] + "\t";
	}
	console.log(line);

	for (var i = 0; i < data.length; i++) {
		line = "";
		for (var j = 0; j < columns.length; j++) {
			var info = data[i][columns[j]];
			if (columns[j] === "MarketCapitalization" ||
				columns[j] === "EBITDA") {
				if (info.indexOf('B') > 0) {
					info = info.replace(/B/g, '');
					info = (parseFloat(info) * 1000000000).toFixed(0);
				}
				else
				if (info.indexOf('M') > 0) {
					info = info.replace(/M/g, '');
					info = (parseFloat(info) * 1000000).toFixed(0);
				}
			}
			line += info + "\t";
		}
		console.log(line);
	}
});
</script>

<%- include drawer.html %>
<%- include footer.html %>
