<%- include header.html %>

<script>
/*
http://finance.yahoo.com/q?s=yhoo (to get Company & Exchange)
http://finance.yahoo.com/q/pr?s=yhoo (to get Sector, Industry, # Employees)
http://finance.yahoo.com/q/hp?s=yhoo (to get historical prices date range)
*/
//type: tech pharm airline semi medi finance telecom software it web
var url = "http://query.yahooapis.com/v1/public/yql";
var symbols = [
	{
		type: 'System',
		list: ['aapl','goog','msft', 'ibm', 'orcl', 'hpq', 'ncr', 'dbd', 'emc',
			'xrx']
	},
	{
		type: 'Software',
		list: ['adbe','adsk','symc','vmw','rht','sap', 'intu','fisv', 'ctxs']
	},
	{
		type: 'Web',
		list: ['fb', 'amzn', 'ebay', 'pcln', 'aol', 'yhoo', 'lnkd', 'twtr',
			'grpn', 'yndx', 'bidu', 'nflx', 'renn', 'zen']
	},
	{
		type: 'Electronics',
		list: ['intc', 'amd', 'ndva', 'txn', 'ter', 'mu', 'amat', 'alu',
			'xlnx', 'altr', 'qcom', 'mchp', 'atml', 'cy', 'mscc', 'lscc',
			'brcm', 'mrvl', 'stm']
	},
	{
		type: 'Storage',
		list: ['sndk', 'wdc', 'stx']
	},
	{
		type: 'Game',
		list: ['ea', 'znga', 'king']
	},
	{
		type: 'Networking',
		list: ['csco', 'jnpr']
	},
	{
		type: 'IT Services',
		list: ['ca', 'acn']
	},
	{
		type: 'Telecom',
		list: ['irdm', 'nok', 't', 'vod', 'vz' ]
	},
	{
		type: 'Others',
		list: ['xom', 'ba', 'gm', 'f', 'hog','cpb',
		'ko', 'pep', 'jnj', 'pg', 'pfe', 'gsk', 'mrk', 'lly', 'abt', 'bmy',
		'ge', 'cvx', 'wmt', 'c', 'wfc', 'jpm', 'bac', 'pm', 'jcp', 'dis',
		'v', 'gs', 'axp', 'ms', 'fox', 'cbs', 'viab', 'twx',
		'dal', 'ual', 'aal', 'luv', 'sbux', 'brk-a']
	}
	/* ,
	{
		type: '',
		list: []
	}
	*/
];

// build symbol list
var list = "";
for (var i = 0; i < symbols.length; i++) {
	for (var j = 0; j < symbols[i].list.length; j++) {
		list += symbols[i].list[j] + ',';
	}
}


var data = encodeURIComponent("select * from yahoo.finance.quotes where " +
	" symbol in ('" + list + "') " +
	// " and startDate='2014-06-01' and endDate='2014-06-30'" +
	"");
url = url + '?q=' + data + "&format=json&diagnostics=false"
		+ "&env=http://datatables.org/alltables.env"
		+ "&callback="
		;

$.get(url, function(response) {
	// console.log(response.query.results.quote);
	var data = response.query.results.quote;
	var columns = ["Symbol", "Type", "StockExchange", "Name",
	 "MarketCapitalization", "EBITDA"/*, "PERatio" , "Volume"*/
	];

	var result = "";
	var line = "";
	for (var j = 0; j < columns.length; j++) {
		line += columns[j] + "\t";
	}
	// console.log(line);
	result += line + "\n";

	for (var i = 0; i < data.length; i++) {
		line = "";
		for (var j = 0; j < columns.length; j++) {
			var info = data[i][columns[j]];
			if (info == null)
				info = "";

			if (columns[j] === "MarketCapitalization" ||
				columns[j] === "EBITDA") {
				if (info.indexOf('B') > 0) {
					info = info.replace(/B/g, '');
					info = (parseFloat(info) * 1000).toFixed(2);
				}
				else
				if (info.indexOf('M') > 0) {
					info = info.replace(/M/g, '');
					info = (parseFloat(info) * 1).toFixed(2);
				}
			}
			else
			if (columns[j] === 'Symbol') {
				var symbol = data[i].Symbol.toLowerCase();
				for (var t = 0; t < symbols.length; t++) {
					if (symbols[t].list.indexOf(symbol) >= 0) {
						info += '\t' + symbols[t].type;
						break;
					}
				}
			}

			if (info === 'NasdaqNM') {
				info = 'NASDAQ';
			}

			if (columns[j] !== "Type") {
				line += info + "\t";
			}
		}
		// console.log(line);
		result += line + "\n";
	}

	$('textarea').val(result);
});
</script>

<style>
textarea {
	width: 100%;
	font-family: Courier;
}
</style>

<form class='uk-form'>
	<textarea rows='20'>Loading...</textarea>
</form>

<%- include drawer.html %>
<%- include footer.html %>
