<%- include header.html %>


<div class='container'>
  <ul class='title'>
    <li>
      <a href="#drawer" class="uk-icon-button uk-icon-navicon" id='navicon'
        data-uk-offcanvas></a>
    </li>
    <li>
      <a href="" class="uk-icon-button uk-icon-refresh"
        onclick='location.reload()'></a>
    </li>
    <li>Demo
    </li>
</div>


<div id="chart1"></div>
<div id="chart2"></div>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<script>
var data = [];
var xf = crossfilter(data);

dc.renderAll();

</script>


<%- include drawer.html %>
<%- include footer.html %>
