<%- include header.html %>


<div class='container'>
  <ul class='title'>
    <li>
      <a href="#drawer" class="uk-icon-button uk-icon-navicon" id='navicon'
        data-uk-offcanvas></a>
    </li>
    <li>
      <a href="" class="uk-icon-button uk-icon-refresh"
        onclick='location.reload()'></a>
    </li>
    <li>Demo
    </li>
  </ul>
</div>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<style>
.dc-chart {
  padding: 4px;
  z-index: 10000;
}

</style>

<div id='ring1' class='dc-chart'>
  <strong>Info</strong>
  <div class="clearfix"></div>
</div>
<div id='ring2' class='dc-chart'>
  <strong>Quarters</strong>
  <a class="reset" href="javascript:chart2.filterAll();dc.redrawAll();"
     style="display:none;">reset</a>
  <div class="clearfix"></div>
</div>

<div id='chart3' class='dc-chart'>

</div>

<script>

var data2 = [
{"key":"2012","value":1450},
{"key":"2013","value":502},
{"key":"2014","value":210}];

var chart1 = dc.pieChart('#ring1');
chart1
    .width(200).height(200)
    .dimension({})
    .group({})
    .data(data2)
    .innerRadius(30);

var chart2 = dc.pieChart('#ring2');
chart2
    .width(200).height(200)
    .dimension({})
    .group({})
    .data(data2)
    .innerRadius(30);

var chart3 = dc.rowChart('#chart3');
chart3
    .width(400).height(200)
    .dimension({})
    .group({})
    .data(data2)
    ;



var data = [{key: "a", value: 10}, {key: "a", value: 20},
{key: "b", value: 100},
{key: "c", value: 1000}, {key: "c", value: 2000}, {key: "c", value: 3000}];

var salesData = [
  {time:'2014-01-01 00:00:01', sales:'James Bond', total: 25300 },
  {time:'2014-01-02 00:00:01', sales:'Alan Smith', total: 25000 },
  {time:'2014-01-01 00:00:01', sales:'John Smith', total: 20000 }
];

var cross = crossfilter(salesData);

var dimension = {};
dimension.year = cross.dimension(function(row) {
  return new Date(row.time).getYear();
});

dimension.value = cross.dimension(function(row) {
  return row.total;
});

var result = dimension.value;

console.log(result.top(2));

dc.renderAll();




</script>


<%- include drawer.html %>
<%- include footer.html %>
