<div id="settings" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Settings</h1>

		<form class='uk-form' method='post' action='/document-save'
			enctype="multipart/form-data" >
			<input type='hidden' name='document' value='<%= document.id %>' />
			<input type='file' name='file' accept=".csv"
				style='display:none; width:4px; height:4px;' />

			<div class='uk-grid uk-grid-preserve'>
				<div class='uk-width-3-10'>
					Name
				</div>
				<div class='uk-width-7-10'>
					<input type='text' name='name' class='uk-width-1-1'
					   value='<%= document.name %>' />
				</div>

				<div class='uk-width-3-10'>
					&nbsp;
				</div>
				<div class='uk-width-7-10'>
					<input type='checkbox' name='public' id='public'
						<%= document.public ? 'checked' : '' %> />
					<label for='public'>Allow everyone to view</label>
				</div>

				<div class='uk-width-3-10'>
					Data
				</div>
				<div class='uk-width-7-10'>
					<select name="data" onchange="documentDataType()">
						<option value='url'>From URL</option>
						<option value='file'>From CSV File</option>
					</select>
					<input type='button' class='uk-button'
						value='Choose CSV File' id='choose-csv'
						style='display:none;'
						onclick='documentChooseFile()' />
					<input type='hidden' />
				</div>

				<div class='uk-width-1-1'>
					<textarea class='code' name='url' id='data-url'
						placeholder='Data URL' style='display:none;'
						><%- document.data_url %></textarea>
				</div>

				<div class='uk-width-1-1'>
					Data Preparation
					<a href='javascript:sampleCode()'>Sample</a>
					<br/>
					<textarea class='code' rows='6' name='init'
						placeholder="Data Preparation"
						><%- document.init %></textarea>
				</div>

				<div class='uk-width-1-1'>
					Theme
					<a href='javascript:theme("light")'>Light</a>
					<a href='javascript:theme("dark")'>Dark</a>
					<a href='javascript:theme("white")'>White</a>
					<br/>
					<textarea class='code' rows='2' name='style'
						placeholder="Style"
						><%- document.style %></textarea>
				</div>
			</div>

			<hr/>
			<div class="uk-grid uk-grid-preserve">

				<div class='uk-width-1-1 modal-button'>
					<input type='submit' value='Save'
					   class='uk-button uk-button-primary' />

					<!--
					<input type='button' value='Cancel'
					   class='uk-button'
					   onclick='javascript:documentSettingsClose()' />
					-->

					<input type='button' value='Delete'
						class='uk-button uk-button-danger'
						onclick='javascript:documentDelete()' />

				</div>
			</div>
		</form>
	</div>
</div>
