<div id="new-modal" class="uk-modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h2>New</h2>

		<form method="post" action="/document-create" class="uk-form"
			enctype="multipart/form-data" >

			<input type="text" name="name" placeholder="Title" autofocus
					class="uk-width-1-1" />

<!--
			<h3>Theme</h3>
			<div data-uk-button-radio>
				<a href="javascript:theme('Light')" class="uk-button">
					Light
				</a>
				<a href="javascript:theme('Dark')" class="uk-button">
					Dark
				</a>
			</div>
-->

			Data &nbsp;&nbsp;&nbsp;&nbsp;
			<a href="javascript:chooseFile()" class="uk-button">
				Choose CSV File
			</a>

			<input type="hidden" name="theme" value='Light' />
			<input type="file" name="file" accept=".csv"
				style="display:none;" />

			<hr/>
			<div class="uk-width-1-1 modal-button">
				<input type="submit" value="Create"
					class="uk-button uk-button-primary" />
			</div>
		</form>
	</div>
</div>
