<div id="drawer" class="uk-offcanvas">
	<div class="uk-offcanvas-bar">
		<ul class="uk-nav uk-nav-offcanvas">
			<li>
				<a href='/' class="uk-navbar-nav-subtitle">OpenBI
					<div>OpenBI Home</div>
				</a>
			</li>
			<!--
			<li>
				<a href='javascript:showNew()' class="uk-navbar-nav-subtitle">New
					<div>Create Document</div>
				</a>
			</li>
			-->
			<li>
				<a href='/login' class="uk-navbar-nav-subtitle">Log In
					<div>Log In</div>
				</a>
			</li>
			<li>
				<a href='/logout' class="uk-navbar-nav-subtitle">Log Out
					<div>Log Out</div>
				</a>
			</li>
		</ul>
	</div>
</div>
