<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta property="og:title" content="OpenBI" />
	<meta property="og:type" content="website" />
	<meta property="og:description"
		content="OpenBI - The Public Software Project" />
	<meta property="og:image"
		content="http://openbi.publicsoftwareproject.org/images/square.jpg" />
	<meta property="og:image:type" content="image/jpg" />
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="/favicon.png" />
	<link rel="stylesheet" href="/css/uikit.almost-flat.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<script src="/js/jquery.js"></script>
</head>
<body>
