<%- include header.html %>

<script>
/*
function Controller($scope) {
	$scope.name = 'Hello World';
}
*/
</script>

<div class='container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" id='navicon'
				data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='location.reload()'></a>
		</li>
		<li>OpenBI
		</li>
	</ul>
</div>

<div class="uk-container">
	<div class="uk-grid">
		<div class="uk-width-1-3">

		</div>
	</div>
</div>

<%- include drawer.html %>
<%- include footer.html %>
