<%- include header.html %>

<ul class='title'>
	<li>
		<a href="#drawer" id='navicon' data-uk-offcanvas
			class="uk-icon-button uk-icon-bars"></a>
	</li>
	<li>
		<a href="/" class="uk-icon-button uk-icon-home"></a>
	</li>
	<li>
		<a href='javascript:showNew()' id='new'
			class="uk-icon-button uk-icon-file-o"></a>
	</li>
	<li>
		<a href="/logout" id='logout'
			class="uk-icon-button uk-icon-sign-out"></a>
	</li>
	<li>
		<%= title %>
	</li>
</ul>

<div class='uk-container'>
	<div class='uk-grid uk-grid-preserve'>
		<% for (var i = 0; i < document.length; i++) { %>
		<div class='folder uk-width-1-2 uk-width-small-1-3 uk-width-medium-1-4
			uk-width-large-1-5' onclick='showDocument(<%= document[i].id %>)'>
			<div class='block'>
				<div class='name'>
					<p><%= document[i].name %></p>
				</div>
				<div class='detail'>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<script src="/js/d3.js"></script>
<script src="/js/trianglify.js"></script>
<script>
"use strict";

$(document).ready(function() {
	var t = new Trianglify({
		cellsize: 60,
		// x_gradient: Trianglify.colorbrewer.BuGn[0],
		noiseIntensity: 0
	});
	// var p = t.generate(document.body.clientWidth,document.body.clientHeight);
	var p = t.generate(800, 600);
	$('body').css('background-image', p.dataUrl);
});

function showDocument(id) {
	window.location = "/document/" + id;
}

function showNew() {
	$("#new-modal [name=name]").val("New");
	var modal = $.UIkit.modal("#new-modal").show();
}

function chooseFile() {
	$("[name=file]").click();
}

</script>

<%- include document-new.html %>
<%- include drawer.html %>
<%- include footer.html %>
