<%- include header.html %>

<div>
	<ul class='title'>
		<li>
			<a href="#drawer" id='navicon' data-uk-offcanvas
				class="uk-icon-button uk-icon-bars"></a>
		</li>
		<li>
			<a href="javascript:showIndex()"
				class="uk-icon-button uk-icon-home"></a>
		</li>
		<li>
			<%= title %>
		</li>
		<li>
			<a href='javascript:showNew()' id='new' style='display:none;'
				class="uk-icon-button uk-icon-file-o"></a>
		</li>
		<li>
			<a href="javascript:logout()" id='logout' style='display:none;'
				class="uk-icon-button uk-icon-sign-out"></a>
		</li>
	</ul>
</div>

<div class='uk-container' id='main'>

</div>

<div class="uk-modal" id="modal">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<div class="content">
		</div>
	</div>
</div>

<script type='text/html' id='folder-template'>
<div class='document' onclick='showDocument(_id)'>
_name
</div>
</script>

<script>
"use strict;"
$(document).ready(main);
var session = null;

function main() {
	$.getJSON('/session')
	.success(function(result) {
		if (result.result === 'ok') {
			session = result;
			showIndex();
		}
		else {
			session = null;
			showWelcome();
		}
		updateToolbar();
	})
	.error(function(result) {
		showWelcome();
	});
}

function updateToolbar() {
	if (session == null) {
		$('#logout').fadeOut();
		$('#new').fadeOut();
	}
	else {
		$('#logout').fadeIn();
		$('#new').fadeIn();
	}
}

function showIndex() {
	if (session == null) {
		showWelcome();
	}
	else {
		$.getJSON('/document-list')
		.success(function(result) {
			if (result.result === 'ok') {
				var html = "<div class='uk-grid'>";
				for (var i = 0; i < result.data.length; i++) {
					if (result.data[i].name == '')
						result.data[i].name = '&nbsp;';
					html += $('#folder-template').html()
						.replace('_id',   result.data[i].id)
						.replace('_name', result.data[i].name)
						;
				}
				html += "</div>";
				$('#main').html(html);
				updateToolbar();
			}
		});
	}
}

function showDocument(id) {
	window.location = "/document/" + id;
}

function showWelcome() {
	$.get('/welcome.html')
	.success(function(result) {
		$('#main').html(result);
		updateToolbar();
	});
}

function showLogin() {
	if (session == null) {
		$.get('/login.html')
		.success(function(result) {
			$('#main').html(result);
			$('[name=username]').focus();
		});
	}
	else {
		showIndex();
	}
}

function login() {
	var username = $('[name=username]').val();
	var password = $('[name=password]').val();
	$.post('/login', {username: username, password: password})
	.success(function(result) {
		if (result.result === 'ok') {
			main();
		}
		else {
			showWelcome();
		}
	});
}

function logout() {
	$.get('/logout')
	.success(function() {
		session = null;
		showWelcome();
	})
}

</script>


<%- include document-new.html %>
<%- include drawer.html %>
<%- include footer.html %>
