<%- include header.html %>

<!-- layout-1 -->

<div class='uk-container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" 
			   id='navicon' data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='location.reload()'></a>
		</li>
		<li>Demo
		</li>
	</ul>
</div>

<div class='frame'>
	<div class='bit-1'>
		<div id="chart1" style="margin: 0 auto;"></div>
	</div>
</div>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<script>
	
var width	= $(window).width();
var height	= $(window).height();
var square	= width < height ? width : height;
var keys = new Array();
	
d3.csv("/data/<%= dashboard.id %>", function(data) {
	for (var k in data[0]) {
		keys.push(k);
	}
   
	var xf = crossfilter(data);
	var dimension = new Array();
	var group = new Array();

	dimension[0]	= xf.dimension(dc.pluck(keys[0]));
	group[0]		= dimension[0].group().reduceSum(dc.pluck(keys[1]));

	var transitionDuration = 1000;

	var c1 = dc.pieChart("#chart1")
		.width(square - 100).height(square - 100)
		.dimension(dimension[0])
		.group(group[0])
		.innerRadius(square / 10)
		.transitionDuration(transitionDuration)
		;

	dc.renderAll();
});

</script>

<%- include drawer.html %>
<%- include footer.html %>
