<%- include header.html %>

<!-- layout-1 -->

<div class='uk-container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" 
			   id='navicon' data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='location.reload()'></a>
		</li>
		<li>Demo
		</li>
	</ul>
</div>

<div class='absolute'>
	<div id="chart1" 
		 draggable="true" ondragstart="return dragStart(event)"
		 style="top:100px; left:100px; width:400px; height:400px; border: 1px solid #aaa; 
			resize: both; overflow: auto;
		 ">
		
	</div>
</div>

<script>
$(document).ready(function() {
	$('#chart1').drags();
});
</script>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<script>
	
var width	= $(window).width();
var height	= $(window).height();
var square	= width < height ? width : height;
var keys = new Array();

square = 400;
	
d3.csv("/data/<%= dashboard.id %>", function(data) {
	for (var k in data[0]) {
		keys.push(k);
	}
	
   
	var xf = crossfilter(data);
	var dimension = new Array();
	var group = new Array();

	dimension[0]	= xf.dimension(dc.pluck(keys[0]));
	group[0]		= dimension[0].group().reduceSum(dc.pluck(keys[1]));

	var transitionDuration = 1000;

	var c1 = dc.pieChart("#chart1")
		.width(square - 10).height(square - 10)
		.dimension(dimension[0])
		.group(group[0])
		.innerRadius(square / 10)
		.transitionDuration(transitionDuration)
		;

	dc.renderAll();
});

(function($) {
    $.fn.drags = function(opt) {

        opt = $.extend({handle:"",cursor:"move"}, opt);

        if(opt.handle === "") {
            var $el = this;
        } else {
            var $el = this.find(opt.handle);
        }

        return $el.css('cursor', opt.cursor).on("mousedown", function(e) {
            if(opt.handle === "") {
                var $drag = $(this).addClass('draggable');
            } else {
                var $drag = $(this).addClass('active-handle').parent().addClass('draggable');
            }
            var z_idx = $drag.css('z-index'),
                drg_h = $drag.outerHeight(),
                drg_w = $drag.outerWidth(),
                pos_y = $drag.offset().top + drg_h - e.pageY,
                pos_x = $drag.offset().left + drg_w - e.pageX;
            $drag.css('z-index', 1000).parents().on("mousemove", function(e) {
                $('.draggable').offset({
                    top:e.pageY + pos_y - drg_h,
                    left:e.pageX + pos_x - drg_w
                }).on("mouseup", function() {
                    $(this).removeClass('draggable').css('z-index', z_idx);
                });
            });
            e.preventDefault(); // disable selection
        }).on("mouseup", function() {
            if(opt.handle === "") {
                $(this).removeClass('draggable');
            } else {
                $(this).removeClass('active-handle').parent().removeClass('draggable');
            }
        });

    }
})(jQuery);

</script>

<%- include drawer.html %>
<%- include footer.html %>
