<%- include header.html %>

<!-- layout-1 -->

<div class='uk-container'>
	<ul class='title'>
		<li>
			<a href="#drawer" class="uk-icon-button uk-icon-navicon" 
			   id='navicon' data-uk-offcanvas></a>
		</li>
		<li>
			<a href="" class="uk-icon-button uk-icon-refresh"
				onclick='location.reload()'></a>
		</li>
		<li>Demo
		</li>
	</ul>
</div>

<style>
	body {
		overflow: hidden;
		background: #eee;
	}
	
	.chart {
		position: absolute;
		min-width: 240px;
		min-height: 120px;
		top: 72px;
		left: 24px;
		background: white;
		resize: both;
		overflow: hidden;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
	
	.handle {
		width:100%; 
		background:#f7f7f7; 
		height:24px;
		display:block;
		margin: 0;
		padding: 2px 4px;
	}
</style>

<script type="text/html" id="chart-template">
	<div class='chart' id='chart_id'>
		<span class='handle'>Test</span>
	</div>
</script>

<script>
var _grid_size = 24;
	
$(document).ready(function() {
	for (var i = 1; i < 5; i++) {
		createChart(i);
	}
	snapAll();
	
	$('body').on('mouseup', function() {
		snapAll();
		$('.chart').css('opacity', '1.0');
	});
	$('body').on('mousedown', function() {
		$('.chart').css('opacity', '0.8');
	});
});

function createChart(k) {	
	var html = $('#chart-template').html();
	html = html.replace(/_id/g, k);
	$('body').append(html);
	$('#chart' + k).drags({handle: '.handle'});
}

function snapAll() {
	$('.chart').each(function() {
		var x = $(this).position().left;
		var y = $(this).position().top;
		x = snap(x);
		y = snap(y);
		var w = $(this).outerWidth();
		var h = $(this).outerHeight();
		w = snap(w);
		h = snap(h);

		$(this).css('left', x + 'px');
		$(this).css('top',  y + 'px');
		$(this).outerWidth(w + 'px');
		$(this).outerHeight(h + 'px');
	});
}

function snap(x) {
	x = parseInt(x);
	grid = parseInt(_grid_size);
	
	if (x % grid === 0) {
	}
	if (x % grid > grid / 2) {
		x = (parseInt(x / grid) + 1) * grid;
	}
	else {
		x = parseInt(x / grid) * grid;
	}
	
	if (x % 24 !== 0)
		console.log('error ' + x);
	return x;
}

</script>

<script src="/js/d3.js"></script>
<script src="/js/crossfilter.js"></script>
<script src="/js/dc.js"></script>

<script>
	
var width	= $(window).width();
var height	= $(window).height();
var square	= width < height ? width : height;
var keys = new Array();


d3.csv("/data/<%= dashboard.id %>", function(data) {
	for (var k in data[0]) {
		keys.push(k);
	}
	
var w = $('#chart1').width();
var h = $('#chart1').height();
square = w < h ? w : h;

	var xf = crossfilter(data);
	var dimension = new Array();
	var group = new Array();

	dimension[0]	= xf.dimension(dc.pluck(keys[0]));
	group[0]		= dimension[0].group().reduceSum(dc.pluck(keys[1]));

	var transitionDuration = 1000;

	var c1 = dc.pieChart("#chart1")
		.width(square - _grid_size).height(square - _grid_size)
		.dimension(dimension[0])
		.group(group[0])
// 		.innerRadius(square / 10)
		.transitionDuration(transitionDuration)
		;

	dc.renderAll();
});

(function($) {
	$.fn.drags = function(opt) {

		opt = $.extend({handle:"",cursor:"move"}, opt);

		if(opt.handle === "") {
			var $el = this;
		} else {
			var $el = this.find(opt.handle);
		}

		return $el.css('cursor', opt.cursor).on("mousedown", function(e) {
			if(opt.handle === "") {
				var $drag = $(this).addClass('draggable');
			} else {
				var $drag = $(this).addClass('active-handle').parent().
									addClass('draggable');
			}
			var z_idx = $drag.css('z-index'),
				drg_h = $drag.outerHeight(),
				drg_w = $drag.outerWidth(),
				pos_y = $drag.offset().top + drg_h - e.pageY,
				pos_x = $drag.offset().left + drg_w - e.pageX;
			$drag.css('z-index', 1000).parents().on("mousemove", function(e) {
				$('.draggable').offset({
					top:e.pageY + pos_y - drg_h,
					left:e.pageX + pos_x - drg_w
				}).on("mouseup", function() {
					$(this).removeClass('draggable').css('z-index', z_idx);
				});
			});
			e.preventDefault(); // disable selection
		}).on("mouseup", function() {
			if(opt.handle === "") {
				$(this).removeClass('draggable');
			} else {
				/*
				var x = $(this).parent().position().left;
				var y = $(this).parent().position().top;
				x = snap(x, 24);
				y = snap(y, 24);
				$(this).parent().css('left', x + 'px');
				$(this).parent().css('top',  y + 'px');
				*/			   
				$(this).removeClass('active-handle').parent().
						removeClass('draggable');
			}
		});

	};
})(jQuery);


</script>

<%- include drawer.html %>
<%- include footer.html %>
