<%- include header.html %>

<div class="uk-container">
	<div class="uk-grid uk-grid-preserve">

		<div class="uk-width-small-1-1 uk-width-medium-6-10 uk-width-large-7-10">
			<div id="welcome">
				<h1>Welcome to OpenBI</h1>
				The easiest way to create interactive dashboard.
				<br/>
				<a href="/openbi.pdf">User's Guide</a>
			</div>
		</div>

		<div class="uk-width-small-1-1 uk-width-medium-4-10 uk-width-large-3-10">
			<form class="uk-form" id='login-form' method="post">
				<span class="center">
					<h2>Log In</h2>
				</span>

				<input type="text" name="username"
					autofocus placeholder="User Name" />
				<input type="password" name="password"
					placeholder="Password"/>

				<span class="center">
					<input type="submit" value="Log In" class="uk-button" />
				</span>
				<!-- TODO forget password -->
			</form>
		</div>

	</div>
</div>


<script>

$(document).ready(resize);
$(document).resize(resize);

function resize() {
	var bodyHeight = $('body').height();
	var windowHeight = $(window).height();
	if (bodyHeight < windowHeight) {
		$('body').height(windowHeight + 'px');
	}
}

</script>

<style>
body {
	background: lightsteelblue;
	box-shadow: inset 0px 0px 400px rgba(0,0,0,.5);
}
</style>

<%- include footer.html %>
