@border: #ccc;

html {
	font-size: 100%;
}

h1 {
	font-weight: 200;
}

.uk-container-center {
	display: block;
	text-align: center;
}

.uk-container {
	.uk-form {
		padding: 10px;
		
		h1 {
			text-align: center;
		}
		
		label {
			text-align: right;
			padding: 4px 10px;
		}

		* {
			margin-bottom: 10px;
		}
	}
}

.uk-navbar-nav-subtitle {
	div {
		padding: 4px;
		font-size: 0.5rem !important;
	}
}

ul.title {
	padding: 0;
	margin-top: 1rem;
	li {
		display: inline-block;
	}
	vertical-align: middle;
	list-style: none;
	font-size: 1rem;
}



// DEMO ONLY


div.chart {
	border: 1px solid white;
	border-radius: 4px;
	transition: all .25s ease-in;
	&:hover {
		border: 1px solid @border;
	}
}

div.frame {
	margin: 4px;
}
